.no-display{
    display: none;
}

.mt10{
    margin-top: 10px !important;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: 999;
    left: calc( 50% - 60px );
    top: calc( 50% - 60px );
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#bb-insertTool .modal-dialog{
    width: 100%;  margin: 0px; 
}

#bb-insertTool .modal-body{
    min-height: 500px;
}

#bb-insertTool .modal-content{
    border-radius: 0px;
}


#bb-content-container{
    
}

#bb-content div[data-bb-type="bs-grid-row"]{
/*    padding: 0px 10px;*/
    margin-bottom: 10px;
    margin-top: 10px;
}

#bb-content div[data-bb-type="bs-grid-row"] > div[data-bb-type="bs-grid-col"]{
    padding: 20px;
    box-sizing: border-box;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    border: 1px dashed #2464bc;
/*    margin: 0px;*/
    margin-left: -1px;
}

#bb-content [data-bb-type="block-text"]{
    border: 1px dashed #8ba1ce;
    position: relative;
    margin: 0px;
}

.bb-elementMenu{
    position: absolute; right: -1px;
    padding: 0px 10px;
    top: -20px;
    height: 20px;
    color: white;
    background: #2464bc;
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
}

.bb-elementMenu > *:not(first-child){
    margin-left: 10px;
}
